<a href="https://colab.research.google.com/github/leadbreak/algorithm_study/blob/main/pyspark_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 01

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 70 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=7bb61d7c3922e572d9085f4ccf4ad1023d787250d4adbbddc32907f77866d887
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [3]:
import pandas as pd

df = pd.DataFrame(
    {
        'Name':['Qscar', "Keith", "Luca"],
     'Age':[29,39,28]
     }
)

df

    Name  Age
0  Qscar   29
1  Keith   39
2   Luca   28

In [4]:
df.to_csv("test1.csv", index=False)

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|Qscar| 29|
|Keith| 39|
| Luca| 28|
+-----+---+

In [10]:
spark.read.option('header', 'true').csv('test1.csv')

DataFrame[Name: string, Age: string]

In [11]:
spark.read.option('header', 'true').csv('test1.csv').show()

+-----+---+
| Name|Age|
+-----+---+
|Qscar| 29|
|Keith| 39|
| Luca| 28|
+-----+---+

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(3)

[Row(_c0='Name', _c1='Age'),
 Row(_c0='Qscar', _c1='29'),
 Row(_c0='Keith', _c1='39')]

In [14]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

# Tutorial 2 : PySpark DataFrames

In [15]:
import pandas as pd

df = pd.DataFrame(
    {
        'Name':['Qscar', "Keith", "Luca"],
        'Age':[29,39,28],
        'Experience':[1,11,2]
     }
)

df.to_csv("test2.csv", index=False)

In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [18]:
spark

In [19]:
## read the dataset
df_pyspark = spark.read.option('header', 'true').csv('test2.csv')
df_pyspark

DataFrame[Name: string, Age: string, Experience: string]

In [20]:
spark.read.option('header', 'true').csv('test2.csv').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Qscar| 29|         1|
|Keith| 39|        11|
| Luca| 28|         2|
+-----+---+----------+

In [21]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [22]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [23]:
df_pyspark.head(3)

[Row(Name='Qscar', Age='29', Experience='1'),
 Row(Name='Keith', Age='39', Experience='11'),
 Row(Name='Luca', Age='28', Experience='2')]

In [24]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Qscar|
|Keith|
| Luca|
+-----+

In [25]:
df_pyspark.select(['Name', 'Experience'] ).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Qscar|         1|
|Keith|        11|
| Luca|         2|
+-----+----------+

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'string'), ('Experience', 'string')]

In [27]:
df_pyspark.describe().show()

+-------+-----+-----------------+-----------------+
|summary| Name|              Age|       Experience|
+-------+-----+-----------------+-----------------+
|  count|    3|                3|                3|
|   mean| null|             32.0|4.666666666666667|
| stddev| null|6.082762530298219|5.507570547286102|
|    min|Keith|               28|                1|
|    max|Qscar|               39|                2|
+-------+-----+-----------------+-----------------+

In [28]:
### Adding columns in data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)
df_pyspark.show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|Qscar| 29|         1|                     3.0|
|Keith| 39|        11|                    13.0|
| Luca| 28|         2|                     4.0|
+-----+---+----------+------------------------+

In [29]:
### Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Qscar| 29|         1|
|Keith| 39|        11|
| Luca| 28|         2|
+-----+---+----------+

In [30]:
### Rename the columns
df_pyspark.withColumnRenamed('Name',"New Name").show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Qscar| 29|         1|
|   Keith| 39|        11|
|    Luca| 28|         2|
+--------+---+----------+

In [31]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'Name':['Qscar', "Keith", "Luca", "Helena", "Joy", np.nan],
        'Age':[29,np.nan,28, 25, np.nan, np.nan],
        'Experience':[1,11,2,np.nan,1, np.nan],
        'Salary':[30000,50000,20000,10000, np.nan, np.nan]
     }
)

df.to_csv("test3.csv", index=False)
df

     Name   Age  Experience   Salary
0   Qscar  29.0         1.0  30000.0
1   Keith   NaN        11.0  50000.0
2    Luca  28.0         2.0  20000.0
3  Helena  25.0         NaN  10000.0
4     Joy   NaN         1.0      NaN
5     NaN   NaN         NaN      NaN

In [32]:
sdf = spark.read.csv('test3.csv')
sdf.show()

+------+----+----------+-------+
|   _c0| _c1|       _c2|    _c3|
+------+----+----------+-------+
|  Name| Age|Experience| Salary|
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
|  null|null|      null|   null|
+------+----+----------+-------+

In [33]:
sdf = spark.read.csv('test3.csv',header=True, inferSchema=True)
sdf.show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
|  null|null|      null|   null|
+------+----+----------+-------+

In [34]:
### drop the columns
sdf.drop('Name').show()

+----+----------+-------+
| Age|Experience| Salary|
+----+----------+-------+
|29.0|       1.0|30000.0|
|null|      11.0|50000.0|
|28.0|       2.0|20000.0|
|25.0|      null|10000.0|
|null|       1.0|   null|
|null|      null|   null|
+----+----------+-------+

In [35]:
### dropna()
sdf.na.drop(how='any').show()

+-----+----+----------+-------+
| Name| Age|Experience| Salary|
+-----+----+----------+-------+
|Qscar|29.0|       1.0|30000.0|
| Luca|28.0|       2.0|20000.0|
+-----+----+----------+-------+

In [36]:
sdf.show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
|  null|null|      null|   null|
+------+----+----------+-------+

In [37]:
### parameter tuning
sdf.na.drop(how='all').show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
+------+----+----------+-------+

In [38]:
sdf.na.drop(how='any', thresh=2).show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
+------+----+----------+-------+

In [39]:
sdf.na.drop(how='any', thresh=2, subset=['Name','Experience', 'Salary']).show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
+------+----+----------+-------+

In [40]:
### Filling the Missing Value 

sdf.na.fill('Missing!', ['Experience', 'Age']).show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
|  null|null|      null|   null|
+------+----+----------+-------+

In [41]:
sdf.show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
| Qscar|29.0|       1.0|30000.0|
| Keith|null|      11.0|50000.0|
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      null|10000.0|
|   Joy|null|       1.0|   null|
|  null|null|      null|   null|
+------+----+----------+-------+

In [42]:
 from pyspark.ml.feature import Imputer
 
 imputer = Imputer(
     inputCols=['Age', 'Experience', 'Salary'],
     outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
      ).setStrategy("mean")

In [43]:
# Add imputation cols to df

imputer.fit(sdf).transform(sdf).show()

+------+----+----------+-------+------------------+------------------+--------------+
|  Name| Age|Experience| Salary|       Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+-------+------------------+------------------+--------------+
| Qscar|29.0|       1.0|30000.0|              29.0|               1.0|       30000.0|
| Keith|null|      11.0|50000.0|27.333333333333332|              11.0|       50000.0|
|  Luca|28.0|       2.0|20000.0|              28.0|               2.0|       20000.0|
|Helena|25.0|      null|10000.0|              25.0|              3.75|       10000.0|
|   Joy|null|       1.0|   null|27.333333333333332|               1.0|       27500.0|
|  null|null|      null|   null|27.333333333333332|              3.75|       27500.0|
+------+----+----------+-------+------------------+------------------+--------------+

In [44]:
 from pyspark.ml.feature import Imputer
 
 imputer = Imputer(
     inputCols=['Age', 'Experience', 'Salary'],
     outputCols=["{}".format(c) for c in ['Age', 'Experience', 'Salary']]
      ).setStrategy("mean")

sdf = imputer.fit(sdf).transform(sdf)
sdf.show()

+------+------------------+----------+-------+
|  Name|               Age|Experience| Salary|
+------+------------------+----------+-------+
| Qscar|              29.0|       1.0|30000.0|
| Keith|27.333333333333332|      11.0|50000.0|
|  Luca|              28.0|       2.0|20000.0|
|Helena|              25.0|      3.75|10000.0|
|   Joy|27.333333333333332|       1.0|27500.0|
|  null|27.333333333333332|      3.75|27500.0|
+------+------------------+----------+-------+

In [45]:
sdf = sdf.na.fill('NoNamed', ['Name'])
sdf.show()

+-------+------------------+----------+-------+
|   Name|               Age|Experience| Salary|
+-------+------------------+----------+-------+
|  Qscar|              29.0|       1.0|30000.0|
|  Keith|27.333333333333332|      11.0|50000.0|
|   Luca|              28.0|       2.0|20000.0|
| Helena|              25.0|      3.75|10000.0|
|    Joy|27.333333333333332|       1.0|27500.0|
|NoNamed|27.333333333333332|      3.75|27500.0|
+-------+------------------+----------+-------+

In [46]:
sdf.filter("Salary<=20000").show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|  Luca|28.0|       2.0|20000.0|
|Helena|25.0|      3.75|10000.0|
+------+----+----------+-------+

In [47]:
sdf.filter("Salary<=20000").select(['Name', "Age"]).show()

+------+----+
|  Name| Age|
+------+----+
|  Luca|28.0|
|Helena|25.0|
+------+----+

In [48]:
sdf.filter( ( sdf['Salary'] <= 20000 ) & ( sdf['Salary'] >= 15000 ) ).show()

+----+----+----------+-------+
|Name| Age|Experience| Salary|
+----+----+----------+-------+
|Luca|28.0|       2.0|20000.0|
+----+----+----------+-------+

In [49]:
sdf.filter( ( sdf['Salary'] > 20000 ) | ( sdf['Salary'] < 15000 ) ).show()

+-------+------------------+----------+-------+
|   Name|               Age|Experience| Salary|
+-------+------------------+----------+-------+
|  Qscar|              29.0|       1.0|30000.0|
|  Keith|27.333333333333332|      11.0|50000.0|
| Helena|              25.0|      3.75|10000.0|
|    Joy|27.333333333333332|       1.0|27500.0|
|NoNamed|27.333333333333332|      3.75|27500.0|
+-------+------------------+----------+-------+

## Groupby & Aggregation

In [55]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'Name':['Qscar','Qscar', "Keith",'Qscar', "Luca", "Helena","Helena","Helena", "Joy","Joy"],
        'Departments':["Data Science","Big Data","IoT","Data Science","Big Data","IoT","Data Science","Data Science","Big Data","Data Science"],
        'Salary':[10000,5000,4000,4000,3000,20000,10000,5000,10000,2000]
     }
)

df.to_csv("test3.csv", index=False)
df

     Name   Departments  Salary
0   Qscar  Data Science   10000
1   Qscar      Big Data    5000
2   Keith           IoT    4000
3   Qscar  Data Science    4000
4    Luca      Big Data    3000
5  Helena           IoT   20000
6  Helena  Data Science   10000
7  Helena  Data Science    5000
8     Joy      Big Data   10000
9     Joy  Data Science    2000

In [56]:
sdf = spark.read.csv('test3.csv',header=True, inferSchema=True)
sdf.show()

+------+------------+------+
|  Name| Departments|Salary|
+------+------------+------+
| Qscar|Data Science| 10000|
| Qscar|    Big Data|  5000|
| Keith|         IoT|  4000|
| Qscar|Data Science|  4000|
|  Luca|    Big Data|  3000|
|Helena|         IoT| 20000|
|Helena|Data Science| 10000|
|Helena|Data Science|  5000|
|   Joy|    Big Data| 10000|
|   Joy|Data Science|  2000|
+------+------------+------+

In [57]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [58]:
spark

In [60]:
sdf = spark.read.csv("test3.csv", header=True, inferSchema=True)
sdf.show()

+------+------------+------+
|  Name| Departments|Salary|
+------+------------+------+
| Qscar|Data Science| 10000|
| Qscar|    Big Data|  5000|
| Keith|         IoT|  4000|
| Qscar|Data Science|  4000|
|  Luca|    Big Data|  3000|
|Helena|         IoT| 20000|
|Helena|Data Science| 10000|
|Helena|Data Science|  5000|
|   Joy|    Big Data| 10000|
|   Joy|Data Science|  2000|
+------+------------+------+

In [61]:
sdf.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [62]:
## Groupby
sdf.groupBy('Name')

In [63]:
sdf.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [64]:
### Grouped to find the maximum salary
sdf.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
| Keith|       4000|
| Qscar|      19000|
|  Luca|       3000|
|   Joy|      12000|
|Helena|      35000|
+------+-----------+

In [65]:
### Groupby Departments which maximum salary
sdf.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IoT|      24000|
|    Big Data|      18000|
|Data Science|      31000|
+------------+-----------+

In [66]:
sdf.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IoT|    12000.0|
|    Big Data|     6000.0|
|Data Science|     6200.0|
+------------+-----------+

In [67]:
sdf.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IoT|    2|
|    Big Data|    3|
|Data Science|    5|
+------------+-----+

In [68]:
sdf.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [69]:
sdf.agg({"Salary":"avg"}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+